body {
  animation: bodyFade 2.5s linear 1.5s;
  animation-fill-mode: forwards;
  /* background: #313335; */
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  position: relative;
  font-size: 6em;
  font-family: 'Bilbo Swash Caps', cursive;
  color: white;
  text-shadow: -2px 4px 9px coral;
  margin-bottom: 0;
  text-align: center;
  animation-duration: 1s;
  animation-name: fadeIn;
}
h2 {
  color: coral;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
  margin: 15px 0;
}

@keyframes fadeIn {
  0% {
    top: -100%;
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  65% {
    top: 10%;
  }
  100% {
    top: 0;
  }
}
@keyframes bodyFade {
  0% {
    background: #fffffc;
  }
  100% {
    background: #313335;
  }
}

@media only screen and (max-width: 730px) {
  .title, .title2{
    font-size: 5em;
  }
}
@media only screen and (max-width: 600px) {
  .title, .title2{
    font-size: 4em;
  }
}
@media only screen and (max-width: 500px) {
  .title, .title2{
    font-size: 3.5em;
  }
}