body {
  animation: bodyFade 2.5s linear 1.5s;
  animation-fill-mode: forwards;
}
li {
  list-style: none;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  position: relative;
  font-size: 6em;
  font-family: 'Bilbo Swash Caps', cursive;
  color: white;
  text-shadow: -2px 4px 9px coral;
  margin-bottom: 0;
  text-align: center;
  /* transform: rotate(-4deg); */
  /* transform-origin: bottom right; */
  animation: fadeIn 1s ease-in;
}
h2 {
  color: coral;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
  margin: 15px 0;
}

@keyframes fadeIn {
  0% {
    top: -100%;
    opacity:0;  
    transform: rotate(15deg);
    transform-origin: bottom right;
  }
  85% {
    transform: rotate(0deg)
  }
  90% {
    top: 3%;
    transform: rotate(-5deg);
    transform-origin: bottom right; 
  }
  95% {
    top: -3%;
  }
  100% {
    top: 0;
  }
}
@keyframes fallIn {
  0% {
    top: -100%;
  }
  25%, 50% {
    top: -25%;
    transform: rotate(0deg)
  }
  60%, 80% {
    top: -25%;
    transform: rotate(-45deg);
    transform-origin: bottom right;
  }
  90% {
    transform: rotate(-25deg);
  }
  100% {
    top: 0;
  }
}
@keyframes bodyFade {
  0% {
    background: #fffffc;
  }
  100% {
    background: #313335;
  }
}

@media only screen and (max-width: 730px) {
  .title, .title2{
    font-size: 5em;
  }
}
@media only screen and (max-width: 600px) {
  .title, .title2{
    font-size: 4em;
  }
}
@media only screen and (max-width: 500px) {
  .title, .title2{
    font-size: 3.5em;
  }
}
@media only screen and (max-width: 375px) {
  .title, .title2{
    font-size: 3em;
  }
}
@media only screen and (max-width: 320px) {
  .title, .title2{
    font-size: 2.5em;
  }
}